# dependencies
node_modules/
.yarn/
.pnp.*

# build outputs
build/
dist/

# environment files
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# misc
.DS_Store

# frontend
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local

# server
server/node_modules/
server/.next/
server/out/
server/build/
server/.env
server/.env.local
server/.env.*.local
